/*@-webkit-keyframes zox
  {
    0% { opacity:0.5;top:600px; }
    50% { opacity:0.1;top:300px; }
    100% { opacity:1.0;top:0px; }
  }
    
@keyframes zox 
    {
        0% { opacity:0.5;top:600px; }
        50% { opacity:0.1;top:300px; }
        100% { opacity:1.0;top:0px; }
    }

.switchItem
    {
        -webkit-animation-name: zox;
        animation-name: zox;
        -webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
    }
    */


  