html, body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: white;
	height:100%;
	margin:0
}

@font-face 
    {
        font-family: 'Digital7';
        src: url(digital-7.ttf);
    }

@font-face {
	font-family: 'CALIBRI';
	src: url(CALIBRI.TTF);
}

.resp{
		color:red;
		font-weight:bold;
}

.contentper {
	font-family: 'CALIBRI';
	font-size:16px;
	text-indent: 0em;
	font-weight:bold;
}

.digital7
    {
        font-family: 'Digital7';
        letter-spacing:5px;
        color:red;
    }
	
.titleper {
	font-family: 'CALIBRI';
}

.menutop {
	font-family: 'ShkoderBlack';
	font-size: 20px;
	cursor:pointer;
	float:left;
}

input.ng-invalid {
	border-color:red;
	border-width: 1px;
	border-style: dotted;
	animation-name:						inpterr;
	animation-duration:					1s;
	animation-timing-function:			linear;
	animation-iteration-count:			infinite;
	-webkit-animation-name:				inpterr;
	-webkit-animation-duration:			1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

@-moz-keyframes inpterr {
	0%	 { opacity:0.5;}
	25%	 { opacity:0.6;}
	50%	 { opacity:0.7;}
	100% { opacity:0.8;}
}

@-webkit-keyframes inpterr {
	0%	 { opacity:0.5;}
	25%	 { opacity:0.6;}
	50%	 { opacity:0.7;}
	100% { opacity:0.8;}
}

@keyframes inpterr {
	0%	 { opacity:0.5;}
	25%	 { opacity:0.6;}
	50%	 { opacity:0.7;}
	100% { opacity:0.8;}
}

.calibri {
	font-family: 'CALIBRI.TTF';
	color:black;
	letter-spacing:1px;
}

/*EFECTO INTERMITENTE DE TEXTO*/
@-moz-keyframes parpadeo {
	0% { opacity:1.0; }
	50% { opacity:0.2; }
	100% { opacity:1.0; }
}

@-webkit-keyframes parpadeo {
	0% { opacity:1.0; }
	50% { opacity:0.2; }
	100% { opacity:1.0; }
}

@keyframes parpadeo {
	0% { opacity:1.0; }
	50% { opacity:0.2; }
	100% { opacity:1.0; }
}

.parpadea {
	animation-name: parpadeo;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-name: parpadeo;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

.fa {
	font-size: 26px;
}

.footer {
	width:100%;
	color: white;
	text-align: center;
	background-color:#F5F5F5;
	padding:5px;
	margin-bottom:0px;
	height:80px;
		
}

.simplecard {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px;
	background-color:white;
}
	
.simplecard:hover {
	cursor:pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
	box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 2px 2px 2px 0px;
	background-color:white;
}

.card:hover {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
	cursor:pointer;
}

.cardhover {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
	cursor:pointer;
}

.titlesubject {
	font-size:14px;
	font-weight: bold;
}

.flex-container {
	display:flex;
}
	
.validate_error {
	color:red;
	opacity:0.2;
	border-radius: 5px 5px 5px 5px;
	margin:0px;
	padding:1px;
}

.errorvalid {
	color:red;
	font-size:11px;
}

.stop:after {
	font-size:15px;
	content: 'YOU MUST TO START THE LOOP';
	background-color: orange;
	color:red;
	float:left;
	font-weight:bold;

	animation-name: parpadeo;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-name: parpadeo;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

.pendiente:after {
	font-size:15px;
	content: 'wait a moment please...';
	color:white;
	background-color: red;
	float:left;
}

.inicio:after {
	font-size:15px;
	content: 'Bot called, wait a moment please...';
	color:white;
	background-color: green;
	float:left;
}

.completado:after {
	font-size:15px;
	color:white;
	content: 'Actualizacion obtenida';
	background-color: #77AA33;
	float:left;
}

.btn_blue{
	color:black;
	font-weight:bold;
	background: rgb(30,87,153);
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
}

.new{
	background-color:blue;
	color:white
}

.good{
	background-color:green;
	color:white
}

.bad{
	background-color:red;
	color:white;
}