/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-left-bar 
  {
    position: fixed;
    top: 50%;
    float:right;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index:1;
  }

/* Style the icon bar links */
.icon-left-bar a 
  {
    display: block;
    text-align: center;
    padding: 5px;
    transition: all 1s ease;
    color: white;
    font-size: 0px;
    margin:5px;
  }

/* Style the social media icons with color, if you want */
.icon-left-bar a:hover 
  {
    background-color: #000;
  }

.facebook 
  {
    background: #3B5998;
    color: white;
  }

.twitter 
  {
    background: #55ACEE;
    color: white;
  }

.google
  {
    background: #dd4b39;
    color: white;
  }

.linkedin
  {
    background: #007bb5;
    color: white;
  }

.youtube 
  {
    background: #bb0000;
    color: white;
    transition: 1s;
  }

.instagram 
  {
    background: #bb0000;
    color: white;
    transition: 1s;
  }