<div class='container-fluid' style='margin-top:100px'></div>

<div class='container-fluid' style='padding:0px' ng-controller='control'>
	<div class='row'>
		<div class='container-fluid col-md-6 col-lg-6 col-sm-12 col-xs-12'>
			<div class='panel panel-primary' style='padding:0px'>
				<div class='panel-heading text-center {{message}}' data-toggle='collapse' data-target='#estrategy_content' style='cursor:pointer'><strong>CONFIGURACION</strong></div>
				<div class='panel-body collapse in' id='estrategy_content'>
					<div class='container-fluid col-md-7 col-lg-7 col-sm-12 col-xs-12'>
						<button ng-show='btn_toogle' id='exec' class='btn-sm' ng-click='start()' style='background-color:#88cc88;width:100%;color:white'>EXECUTE</button>
						<button ng-hide='btn_toogle' type='button' class='btn-sm btn-danger' ng-click='stop(true)' style='width:100%;color:white'>STOP</button>
						<form name='estrategy_form' role='form' ng-submit='start()'>
							<table class='table table-hover table-condensed' style='cursor:pointer'>
								<tbody>
									<tr>
										<!--td>
											<button id='exec' class='btn-lg' type='submit' style='background-color:#88cc88;width:100%;color:white'>EXECUTE</button>
										</td-->
										<td colspan=2>
											<div class='container-fluid digital7 text-center' style='border-radius: 10px;color:red;font-weight:bold;font-size:30px'>{{repeat}}</div>
										</td>
									</tr>
									<tr>
										<td class='contentper'>KEY</td>
										<td><input class='form-control' title='Su llave de Bitmex' type='text' ng-model='key' required/></td>
									</tr>
									<tr>
										<td class='contentper'>SECRET KEY</td>
										<td><input class='form-control' title='Su clave de Bitmex' type='text' ng-model='secret' required/></td>
									</tr>
									<tr>
										<td class='contentper danger'>TIMER(Minutes)</td>
										<td>
											<input class='form-control' ng-change='stop(false)' ng-model='timerefresh' type='number' title='Tiempo de loop del BOT(Minutos)' placeholder='Bot Loop time' min=0.1 max=9999 step=0.1 lang="nb" required>
										</td>
									</tr>
									<tr>
										<td class='contentper'>TIMEFRAME</td>
										<td>
											<select ng-model='timeframe' title='Tiempo de Velas(Trading)' class='form-control' required>
												<option ng-repeat="c in frames" value='{{c.frame}}'>{{c.frame}}</option>
											</select>
										</td>
									</tr>
									<tr>
										<td class='contentper'>BOT</td>
										<td>
											<select ng-model='xbot' title='Bot' class='form-control' required>
												<option ng-repeat="c in ['SURF_BOT']" value='{{c}}'>{{c}}</option>
											</select>
										</td>
									</tr>
									<tr>
										<td class='contentper'>MARGIN</td>
										<td>
											<input class='form-control' type='number' title='Cantidad de Contratos(Dolares)' placeholder='Contratos' min=1 max=1000 ng-model='amount' required>
										</td>
									</tr>
									<tr>
										<td class='contentper'>LEVERAGE</td>
										<td>
											<input class='form-control' type='number' placeholder='Leverage' title='Apalancamiento' min=0.01 max=100 step=0.01 ng-model='leverage' required>
										</td>
									</tr>
									<tr>
										<td class='contentper'>SLOPE-LEN</td>
										<td>
											<input class='form-control' type='number' placeholder='Candles de calculo' title='Cuantos candles se utilizaran para calcular la pendiente' min=1 max=10 step=1 ng-model='slopeLen' required>
										</td>
									</tr>
									<tr>
										<td class='contentper'>MIN-SLOPE</td>
										<td>
											<input class='form-control' type='number' placeholder='Pendiente' title='Cual es la pendiente minima que puede tener una zona para poder accionar. Pendiente y Grado son 2 cosas proporcionales.' min=0 max=100 step=0.01 ng-model='slope' required>
										</td>
									</tr>
									<tr>
										<td class='contentper'>MIN-GRADE</td>
										<td>
											<input class='form-control' type='number' placeholder='Minimo grados de inclinacion' title='Cuantos grados minimos de inclinacion puede tener una zona para poder accionar.Pendiente y Grado son 2 cosas proporcionales.' min=0 max=90 step=0.1 ng-model='grade' required>
										</td>
									</tr>
									<tr>
										<td class='contentper'>FI</td>
										<td>
											<input class='form-control' type='text' placeholder='Fecha Inicial' title='Fecha Inicial' ng-model='fi' readonly>
										</td>
									</tr>
									<tr>
										<td class='contentper'>FASE</td>
										<td>
											<input class='form-control' type='text' placeholder='Fase de ejecucion' title='Fase de ejecucion' ng-model='phase' readonly>
										</td>
									</tr>
									<tr>
										<td class='contentper'>OPEN</td>
										<td>
											<input class='form-control' type='text' placeholder='Precio de Apertura' title='Precio de Apertura' ng-model='open' readonly>
										</td>
									</tr>
									<tr>
										<td class='contentper'>CLOSE</td>
										<td>
											<input class='form-control' type='text' placeholder='Precio de Cierre' title='Precio de Cierre' ng-model='close' readonly>
										</td>
									</tr>
									<tr>
										<td class='contentper'>HIGH</td>
										<td>
											<input class='form-control' type='text' placeholder='Precio Maximo' title='Precio Maximo' ng-model='high' readonly>
										</td>
									</tr>
									<tr>
										<td class='contentper'>LOW</td>
										<td>
											<input class='form-control' type='text' placeholder='Precio Minimo' title='Precio Minimo' ng-model='low' readonly>
										</td>
									</tr>
									<tr>
										<td class='contentper'>ORDERTYPE</td>
										<td>
											<input class='form-control' type='text' placeholder='Tipo de Orden' title='Tipo de Orden' ng-model='orderType' readonly>
										</td>
									</tr>
									<!--tr>
										<td class='contentper'>LONG/SHORT</td>
										<td>
											<select ng-model='long_or_short' title='Tipo de Trading' class='form-control' required>
												<option ng-repeat="side in ['Long','Short', 'Twice']" value='{{side}}'>{{side}}</option>
											</select>
										</td>
									</tr-->
								</tbody>
							</table>
						</form>
					</div>
					<div class='container-fluid table-responsive col-md-5 col-lg-5 col-sm-12 col-xs-12'>
						<div class='container-fluid' style='background-color:transparent'>
							<div id='clock' style='margin-left:10px;padding:0px;background-color:transparent'></div>
						</div>
						<table class='table table-hover tabla-condensed'>
							<caption class='text-center' style='font-weight:bold;color:red'>FEATURES</caption>
							<tbody id='strategy_data'>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class='container-fluid col-md-6 col-lg-6 col-sm-12 col-xs-12'>
			<div class='panel panel-primary' style='padding:0px'>
				<div class='panel-heading text-center' data-toggle='collapse' data-target='#cons' style='cursor:pointer'><strong>CONSOLA</strong></div>
				<div id='cons' class='panel-body collapse in' style='padding:5px'>
					<div class='container-fluid col-md-12 col-lg-12 col-sm-12 col-xs-12' id='console' style='background-color:black;color:white;font-size:12px;min-height:620px;max-height:620px;overflow-y:scroll;'></div>
					<div class='btn-group col-md-12 col-lg-12 col-sm-12 col-xs-12' style='margin-bottom:10px;padding:5px'>
						<button type='button' class='btn-sm btn-success' ng-click='open_testnet()'>TESTNET</button>
						<button type='button' class='btn-sm btn-danger' ng-click='open_bitmex()'>BITMEX</button>
						<button type='button' class='btn-sm btn-success' ng-click='log()'>LOAD LOG</button>
						<button type='button' class='btn-sm btn-warning' ng-click="clear_console ('console')">CLEAR SCREEN</button>
						<button type='button' class='btn-sm btn-default' ng-click='open_calculator()'>CALC XBT/USD</button>
					</div>
					<div class='input-group col-md-12 col-lg-12 col-sm-12 col-xs-12' style='padding:5px'>
						<div class='input-group-btn' style='padding-left:5px'>
							<b class='parpadea' title='Monto disponible en XBT en su cartera.Es un valor cambiante.' style='font-size:20px;background-color:black;margin-top:20px;color:yellow;cursor:pointer'>{{wallet_amount | number:10}} XBT</b>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='container-fluid col-md-12 col-lg-12 col-sm-12 col-xs-12'>
			<div class='panel panel-primary' style='padding:0px'>
				<div class='panel-heading text-center' data-toggle='collapse' data-target='#trading' style='cursor:pointer'><strong>BITMEX GRAPH</strong></div>
				<div class='panel-body collapse in' id='trading' style='background-color:white;color:white;font-size:12px;min-height:200px;overflow-y:scroll;margin:5px'>
					<zingchart id="myChart" zc-json="myJson" zc-height="500" zc-width="800"></zingchart>
				</div>
			</div>
		</div>
		<div class='container-fluid col-md-12 col-lg-12 col-sm-12 col-xs-12'>
			<div class='panel panel-primary' style='padding:0px'>
				<div class='panel-heading text-center' data-toggle='collapse' data-target='#manual' style='cursor:pointer'><strong>OPERACION MANUAL/EXPRESS</strong></div>
				<div class='panel-body collapse in' id='manual' style='background-color:white;color:white;font-size:12px;min-height:200px;max-height:200px;overflow-y:scroll;margin:5px'>
					<div class='btn-group' style='margin-bottom:10px'>
						<button type='button' class='btn-sm btn-danger' ng-click="manual_do('Close')">CLOSE ALL POSITIONS</button>
						<button type='button' class='btn-sm btn-danger' ng-click="manual_do('Cancel')">CANCEL ALL</button>
						<button type='button' class='btn-sm btn-danger' ng-click="manual_do('Profits')">CHECK PROFITS NOW</button>
						<button type='button' class='btn-sm btn-success' ng-click="manual_do('buy-express')">BUY 2 XBT</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<script type='text/javascript' src='js/clock.js'></script>