<b>REINICIO</b><br> <code>INITIALIZATION : SHORT </code><br><div class='container-fluid table-responsive'>
					<table border=1>
						<caption>Order Created - Details</caption>
						<tbody>
							<tr>
								<td>FI</td>
								<td>OPEN</td>
								<td>HIGH</td>
								<td>LOW</td>
								<td>CLOSE</td>
								<td>TYPE</td>
								<td>ROE</td>
							</tr>
							<tr>
								<td>2019-11-21 05:15:00</td>
								<td>8100.5</td>
								<td>8101</td>
								<td>8096</td>
								<td>8096.5</td>
								<td>SHORT</td>
								<td>0</td>
							</tr>
						</tbody>
					</table>
				</div><br><table border=1>
									<tr><td>SLOPE</td><td>GRADE</td></tr>
									<tr><td>-0.13</td><td>-7.41</td></tr>
							</table><br><strong class='parpadea good'>Starting surf...</strong><br><b class='bad'>Waiting for close of TRIGGER_CANDLE ...</b><br><table border=1>
									<tr><td>SLOPE</td><td>GRADE</td></tr>
									<tr><td>-0.13</td><td>-7.41</td></tr>
							</table><br><strong class='parpadea good'>Starting surf...</strong><br><b class='bad'>Waiting for close of TRIGGER_CANDLE ...</b><br>